import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'di-spinner',
  templateUrl: './spinner.component.html',
  styles: './spinner.component.scss'
})
export class SpinnerComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
