# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# API keys and secrets
.env
node_modules/
#editor's directories
.idea
*.iml
# Ignore built ts files
/**/*.js
dist/**/*
